.aboutMe{
  display: flex;
  width: 80%;
    padding-top: -10%;
}
footer {
  display: flex;
  justify-content: flex-end;
}
.socialLinks {
  width: 100%;
  display: flex;

  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 20%;
  padding-top: 20%;


}

.socialLinks i {
  padding-left: 20px;
  font-size: 30px;
}

.socialLinks a:link {
  text-decoration: none;
  color: #E5A328
}

.socialLinks a:hover {
  text-decoration: none;
  color: #E5A328
}

.socialLinks a:visited {
  text-decoration: none;
  color: #E5A328
}

.socialLinks a:active {
  text-decoration: none;
  color: #E5A328
}
.descriptionBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.description {
  width: 100%;
}
.description h1 {
  color: #fdfeff;
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description h4 {
  color: #78797a;
  font-size: 29px;
  margin-top: 0;
}

.description h5 {
  color: #989BA2;
  margin: 0 auto;
  font-size: 20px;
  width: 60%;
}