.signatureBlock {
  height: 10%;
  display: flex;
  width: 100%;
  justify-content: end;
  
}

.signature {
 
  width: 100%;
  padding-left: 20%;
 transform: translate(0, 20%);

}
.signature a{
  height: 50%;
  width: 100%;

}