body {
  margin: 0;
font-family: 'Josefin Sans',
sans-serif;

background: url("img/bg_1.jpg") center ;
height: 100%;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
